<h2> Rentals for {{fullLocation}}</h2>

Rentals availible in {{city.name}}:

<ul>
  {{#each sortedRentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>
<hr>
<br>
<button {{action 'destroyCity' city}}>Delete City</button>
